/* max-width: 320 sm mobail screen
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. */

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1600px;
    }
}

@media (min-width: 1025px) and (max-width:1440px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1350px;
    }
}

@media screen and (min-width:1201px) {
    .top_banner::before{
        width: 95%;
    }

    .customers::before {
        width: 95%;
    }

    footer::before {
        width: 95%;
    }

    .d_name {
        font-size: 18px;
    }

    .doctor_body {
        width: 86%;
    }

}


@media screen and (min-width:1025px) and (max-width:1200px) {}


@media screen and (min-width:769px) and (max-width:1024px) {
    .nav-item {
        padding-left: 0px;
    }

    .top_banner::before{
        width: 95%;
    }

    .top_banner h1 {
        font-size: 2.5rem;
    }

    .contact_form {
        padding: 30px 11px;
    }

    .contact_form h3 {
        font-size: 30px;
    }

    .sub_title {
        margin-bottom: 5px;
    }

    .main_img{
        height: 100%;
        border-radius: 30px;
        overflow: hidden;
    }

    .main_img img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .title {
        font-size: 24px;
    }

    .about_img {
        position: relative;
        padding-right: 2rem;
        height: 100%;
        overflow: hidden;
    }

    .about_img img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .title2 {
        font-size: 20px;
    }

    .d_name {
        font-size: 18px;
    }

    .doctor_body {
        width: 92%;
    }

    .feedback_r{
        margin-top: 50px
    }

    .customers::before {
        width: 95%;
    }

    .blog {
        font-size: 17px;
    }

    footer::before {
        width: 95%;
    }
}

@media screen and (min-width:821px) and (max-width:912px) {}

@media screen and (min-width:769px) and (max-width:820px) {}

@media screen and (min-width:577px) and (max-width:768px) {
    .top_banner h1 {
        font-size: 2.5rem;
    }

    .top_banner::before{
        width: 95%;
    }

    .about_img {
        padding-right: 0rem;
    }

    .about_img::before{
        display: none;
    }

    .title2 {
        font-size: 22px;
    }

    .title1::before {
        left: 45%;
    }

    .doctor_body {
        width: 93%;
    }

    .feedback_r{
        margin-top: 50px
    }

    .customers::before {
        width: 95%;
    }

    .featured_img img {
        height: 100%;
        width: 100%;
    }

    footer::before {
        width: 95%;
    }
}

@media screen and (max-width:576px) {
    .top_banner h1 {
        font-size: 2rem;
    }

    .top_banner::before{
        width: 98%;
    }

    .contact_form h3 {
        font-size: 30px;
    }

    .contact_form {
        padding: 30px 18px;
    }

    .about_img {
        padding-right: 0;
    }

    .about_img::before{
        display: none;
    }

    .title {
        font-size: 25px;
    }

    .feedback_r{
        margin-top: 50px
    }

    .customers::before {
        width: 98%;
    }

    .featured_img img {
        height: 100%;
        width: 100%;
    }
    
    footer::before {
        width: 99%;
    }

    footer {
        padding: 65px 10px;
    }

    .d_name {
        font-size: 21px;
        font-weight: 500;
    }

    .doctor_body {
        width: 90%;
    }

    #order_1{
        order: 2;
    }

    .navbar-brand {
        font-size: 2.5rem;
    }

    .form-control{
        font-size: 0.9rem;
    }

    .card{
        box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
    }

    .btn1 {
        padding: 8px 44px 8px 5px;
    }
    
    
}


@media screen and (max-width:375px) {
    .two_btn{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .navbar-brand {
        font-size: 2.5rem;
    }

    .form-control{
        font-size: 0.9rem;
    }

    .navbar-brand {
        font-size: 1.9rem;
    }

    .search {
        margin-right: 5px;
    }

    .btn1 {
        padding: 8px 44px 8px 5px;
        font-size: 0.8rem;
    }

    .btn1 .btn_icon{
        height: 25px;
    width: 25px;
    }
    
}